<div class="pin-pad">
    <span class="pin-pad-digits ion-activatable" (click)="onClick(1)">1
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(2)">2
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(3)">3
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(4)">4
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(5)">5
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(6)">6
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(7)">7
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(8)">8
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(9)">9
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits forgot ion-activatable" (click)="onClick(-1)">Forgot?
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable" (click)="onClick(0)">0
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
  <span class="pin-pad-digits ion-activatable">1
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </span>
</div>
