.card {
  width: 148px;
  height: 170px;
  background: linear-gradient(180deg, #EAEAEA 0%, #B2D0CE 100%);
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card-description {
    .card-title{
      font-weight: 500;
      font-size: 11px;
      line-height: 12px;
      /* identical to box height, or 109% */

      letter-spacing: 0.008em;

      color: #272A32;
    }

    .card-sum{
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      /* identical to box height, or 141% */

      letter-spacing: 0.008em;

      color: #272A32;
    }
  }
}
