<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="null" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container class="container">
    <div class="card-section">
      <app-card *ngIf="card" [full]="true" [icon]="card.icons" [balance]="card.balance" [title]="card.title"></app-card>
    </div>
    <app-content-container *ngIf="card" class="transactions-section">
      <div class="list-header">
        <span>Операции</span>
        <div class="action-buttons-block">
          <app-action-button (buttonClick)="onAddClick()"></app-action-button>
        </div>
      </div>
      <ion-list lines="none">
        <ng-container *ngFor="let rT of reducedTransactions">
          <ion-item>
            <span class="transactions-date">{{rT.date | dateTransform}}</span>
          </ion-item>
          <ng-container *ngFor="let t of rT.transactions">
            <app-transaction [transaction]="t"></app-transaction>
          </ng-container>
        </ng-container>
      </ion-list>
    </app-content-container>
  </app-container>
</ion-content>
