.card-section {
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.transactions-section{
  font-family: Karla, sans-serif;
  background: rgba(67, 61, 72, 0.6);
  border-radius: 26px 26px 0 0;
  padding-top: 26px;

  .list-header {
    margin: 0 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 114% */

    letter-spacing: 0.008em;

    color: var(--color);
  }


}
