.transaction {
  font-family: Karla, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .transaction-title-block {
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
      }
      .tags {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        letter-spacing: 0.008em;

        color: #79767D;
      }
    }
  }
  .balance{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: right;
  }
}
