<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <swiper #swiper [spaceBetween]="20" [slidesPerView]="2">
      <ng-template swiperSlide *ngFor="let card of cards"><app-card [title]="card.title" [balance]="card.balance" [icon]="card.icon"></app-card></ng-template>
      <ng-template swiperSlide><app-card title="Add money" balance="0" icon="add-outline" (click)="addCardClick()"></app-card> </ng-template>
    </swiper>
  </div>
</ion-content>
