<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container>

    <div class="main-content">
      <div class="header-container">
        <div class="balance-block">
          <div class="balance-block-title">Ваш баланс</div>
          <div *ngIf="balance" class="balance-block-sum">{{balance | toFixed : 2 | balance}}</div>
          <div *ngIf="balance === 0 && cards.length === 0" class="balance-block-sum">Добавьте счёт</div>
          <div *ngIf="!balance && balance !== 0" class="balance-block-sum">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </div>
        <div class="button-block" *ngIf="balance && cards.length !== 0">
          <app-action-button (buttonClick)="onTransferClick()" icon="repeat-outline" *ngIf="cards.length > 1"></app-action-button>
          <app-action-button (buttonClick)="addTransactionClick()"></app-action-button>
        </div>
      </div>
      <swiper #swiper [spaceBetween]="20" [slidesPerView]="2">
        <ng-template swiperSlide *ngFor="let card of cards"><app-card [title]="card.title" [balance]="card.balance" [icon]="card.icons" (click)="onCardDetailsClick(card.id)"></app-card></ng-template>
        <ng-template swiperSlide>
          <app-card title="Add money" balance="0" icon="add-outline" (click)="addCardClick()" [loading]="!cards"></app-card>
        </ng-template>
      </swiper>
    </div>
    <app-content-container class="container">
      <div class="stats-balance-section">
        <div class="stats-block">
          <div class="stats-title-block">
            <span><app-transaction-icon [income]="true"></app-transaction-icon>Приход</span>
            <span><app-transaction-icon [income]="false"></app-transaction-icon>Расход</span>
          </div>
          <div class="stats-value-block">
            <span>{{transactionsInSum | balance}}</span>
            <span>{{transactionsOutSum | balance}}</span>
          </div>
        </div>
        <div class="stats-total-block">
          <span>Баланс: <strong>{{transactionsInSum - transactionsOutSum | balance}}</strong></span>
        </div>
      </div>
    </app-content-container>
  </app-container>
</ion-content>
