<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismissModal(null)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Создать элемент</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)" novalidate>
    <div *ngFor="let field of fields">
      <ion-item lines="full" *ngIf="field.type !== 'select';else selectField">
        <ion-label position="floating">{{field.title}}</ion-label>
        <ion-input formControlName="{{field.name}}" value="{{form.value[field.name]}}" type="{{field.type}}"></ion-input>
      </ion-item>
      <ng-template #selectField>
        <ion-item lines="full">
          <ion-label>{{field.title}}</ion-label>
          <ion-select placeholder="Select One" [ngClass]="'select-'+field.name" formControlName="{{field.name}}">
            <ion-select-option *ngFor="let option of field.options" value="{{option}}" [ngClass]="'select-'+field.name+'-'+option">
              <span>{{option}}<ion-icon [name]="option"></ion-icon></span>
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ng-template>
    </div>
  </form>
</ion-content>

<ion-footer class="modal-footer">
  <ion-toolbar>
    <ion-button class="success-button" type="button" expand="full" fill="round" color="success" (click)="onSubmit(form.value)" [disabled]="!form.valid">Save</ion-button>
  </ion-toolbar>
</ion-footer>
