<ion-header>
  <ion-toolbar>
    <ion-title>pin-pad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="pin-pad-wrapper">
    <div class="pin-pad-content">
      <h1 class="app-name">Balance 3.0</h1>
      <div class="dots">
        <div class="dot" [class.active]="pinLength > 0">&nbsp;</div>
        <div class="dot" [class.active]="pinLength > 1">&nbsp;</div>
        <div class="dot" [class.active]="pinLength > 2">&nbsp;</div>
        <div class="dot" [class.active]="pinLength > 3">&nbsp;</div>
        <div class="dot" [class.active]="pinLength > 4">&nbsp;</div>
      </div>
    </div>
  <app-keyboard (fillDots)="fillDots($event)"></app-keyboard>
  </div>
</ion-content>
